@charset "UTF-8";
@import "nanumgothic.css";
body{background:#202020}
body,input,textarea,select{font-family:"Nanum Gothic",Arial,Helvetica,sans-serif;font-weight:300;font-size:11pt;line-height:1.75em}
h1,h2,h3,h4,h5,h6{letter-spacing:1px;text-transform:uppercase;font-weight:300}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{color:inherit}
strong,b{font-weight:700;color:#000}
em,i{font-style:italic}
a{text-decoration:none;color:#5B73D5}
sub{position:relative;top:.5em;font-size:.8em}
sup{position:relative;top:-.5em;font-size:.8em}
hr{border:1px;border-top:solid 1px #f9f9f9}
caption{display:none}
blockquote{margin:0;padding:0;border:none;font-style:normal}
p,ul,ol,dl,table{margin-bottom:.6em}
table{width:100%;border-collapse:collapse;border-spacing:0;border-top:1px solid #f1f1f1}
tr{border-bottom:1px solid #f1f1f1}
tr.last{border-bottom:0}
tr th,tr td{vertical-align:middle;border-right:1px solid #f1f1f1}
tr th{text-align:center;font-weight:700;background:#f9f9f9}
tr th:last-child,tr td:last-child{border-right:0}
input[type="text"],input[type="password"],input[type="email"],input[type="tel"],select,textarea{-moz-appearance:none;-webkit-appearance:none;-ms-appearance:none;appearance:none;border-radius:4px;border:none;border:solid 1px #dee1e3;color:inherit;display:inline-block;outline:0;padding:.1em .5em;text-decoration:none}
header{margin-bottom:1em;line-height:1.7em}
header h2{font-size:1.7em}
header .byline{display:block;margin:.5em 0 0;padding:0 0 .5em;text-transform:uppercase;font-size:1.4em}
footer{margin-top:1em}
.clear{clear:both;zoom:1}
.fix::after{clear:both;content:".";display:block;height:0;visibility:hidden}
.btn{display:inline-block;border:0;padding:3px 10px;color:#555!important;cursor:pointer;border:1px solid #aaa;border-radius:5px;background:#fff;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2YxZjFmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2UxZTFlMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY2ZjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background:-moz-linear-gradient(top,rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,1)),color-stop(50%,rgba(241,241,241,1)),color-stop(51%,rgba(225,225,225,1)),color-stop(100%,rgba(246,246,246,1)));background:-webkit-linear-gradient(top,rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);background:-o-linear-gradient(top,rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);background:-ms-linear-gradient(top,rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);background:linear-gradient(to bottom,rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#f6f6f6',GradientType=0)}
.btn:hover{color:#368FF3!important}
.btn:active{background:#f6f6f6;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iI2UxZTFlMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2YxZjFmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background:-moz-linear-gradient(top,rgba(246,246,246,1) 0%,rgba(225,225,225,1) 49%,rgba(241,241,241,1) 50%,rgba(255,255,255,1) 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(246,246,246,1)),color-stop(49%,rgba(225,225,225,1)),color-stop(50%,rgba(241,241,241,1)),color-stop(100%,rgba(255,255,255,1)));background:-webkit-linear-gradient(top,rgba(246,246,246,1) 0%,rgba(225,225,225,1) 49%,rgba(241,241,241,1) 50%,rgba(255,255,255,1) 100%);background:-o-linear-gradient(top,rgba(246,246,246,1) 0%,rgba(225,225,225,1) 49%,rgba(241,241,241,1) 50%,rgba(255,255,255,1) 100%);background:-ms-linear-gradient(top,rgba(246,246,246,1) 0%,rgba(225,225,225,1) 49%,rgba(241,241,241,1) 50%,rgba(255,255,255,1) 100%);background:linear-gradient(to bottom,rgba(246,246,246,1) 0%,rgba(225,225,225,1) 49%,rgba(241,241,241,1) 50%,rgba(255,255,255,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6',endColorstr='#ffffff',GradientType=0)}
.btnAdd{display:inline-block;width:25px;height:25px;vertical-align:top;border:1px solid #ccc;border-radius:3px}
section,article{margin-bottom:3em}
section > :last-child,article > :last-child{margin-bottom:0}
section:last-child,article:last-child{margin-bottom:0}
.row > section,.row > article{margin-bottom:0}
.image{display:inline-block}
.image img{display:block;width:100%}
.image.featured{display:block;width:100%;margin:0 0 2em}
.image.full{display:block;width:100%;margin-bottom:2em}
.image.left{float:left;margin:0 2em 2em 0}
.image.centered{display:block;margin:0 0 2em}
.image.centered img{margin:0 auto;width:auto}
ul.default{margin:0;padding:0;list-style:none}
ul.default li{display:block;padding:2em 0 1.25em;border-top:1px solid #303030}
ul.default li:first-child{padding-top:0;border-top:none}
ul.default a{text-decoration:none;color:rgba(255,255,255,.5)}
ul.default a:hover{text-decoration:underline}
ul.style1{margin:0;padding:0;list-style:none}
ul.style1 li{padding:.6em 0;border-top:1px solid;border-color:#f1f1f1}
ul.style1 li:first-child{padding-top:0;border-top:0}
ul.style1 a{text-decoration:none}
ul.style2{margin:0;padding:0;list-style:none}
ul.style2 li{padding:1.5em 0;border-top:1px solid;border-color:#f1f1f1}
ul.style2 li:first-child{padding-top:0;border-top:0}
ul.style2 img{float:left}
ul.style5{overflow:hidden;margin:0 0 1em;padding:0;list-style:none}
ul.style5 li{float:left}
.sidebar li.active{font-weight:700}
.sidebar li.active a{color:#FFA200}
.button{position:relative;display:inline-block;padding:.5em 1.5em;background:#0959B2;border-radius:4px;text-decoration:none;text-transform:uppercase;font-size:1.1em;color:#FFF;-moz-transition:color .35s ease-in-out,background-color .35s ease-in-out;-webkit-transition:color .35s ease-in-out,background-color .35s ease-in-out;-o-transition:color .35s ease-in-out,background-color .35s ease-in-out;-ms-transition:color .35s ease-in-out,background-color .35s ease-in-out;transition:color .35s ease-in-out,background-color .35s ease-in-out;cursor:pointer}
input[type=submit].button,input[type=reset].button{border:0}
.button:hover{background:#FFA200;color:#FFF!important}
#header{position:relative;background:#FFF}
#header .container{position:relative;padding:4em 0}
#logo{position:absolute;left:0;top:2.2em}
#logo a{display:block;text-decoration:none;font-size:2.8em;font-weight:600}
#nav{position:absolute;right:0;top:2.2em}
#nav > ul > li{float:left}
#nav > ul > li:last-child{padding-right:0}
#nav > ul > li > a,#nav > ul > li > span{display:block;margin-left:.7em;padding:.8em 1.2em;letter-spacing:.06em;text-decoration:none;text-transform:uppercase;font-size:1.1em;outline:0;color:#333}
#nav li.active a{background:#FFA200;border-radius:5px;color:#FFF}
#nav > ul > li > ul{display:none}
#banner{position:relative;padding:11em 0;background:url(../images/banner.jpg) no-repeat center;background-size:cover;color:#fff}
#page{position:relative;background:#fff}
.homepage #page #marketing table{border:1px solid #f1f1f1}
.homepage #page #marketing tr{border-bottom:0;line-height:40px}
.homepage #page #marketing tr th{border-bottom:1px solid #f1f1f1}
.homepage #page #marketing tr td{padding-left:10px}
#bar{padding:1em;background:#eee}
#bar dl{margin-bottom:0}
#bar.container dl dt{font-weight:700;color:#E36442}
#bar.container dl dt,#bar.container dl dd{float:left;margin-right:20px}
.sidebar header h2{font-size:1.6em}
.sidebar h3{font-size:1.3em;font-weight:700;margin-bottom:3px}
.sidebar a.title{zoom:1;display:inline-block;width:50%;line-height:1;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;text-decoration:none}
.sidebar a.title:hover{color:#000}
.sidebar .right{float:right}
.container .content h2{font-size:1.5em}
.container .content h3{font-size:1.3em}
.container .content #titleArea{width:700px;border-bottom:2px solid #ccc;padding-bottom:10px;margin-bottom:30px}
.container .content #titleArea h3{font-size:25px}
.container .content table{font-size:14px}
.container .content table tr{line-height:35px}
.container .content table.boardlist tr td{text-align:center}
.container .content table.gray thead{color:#000;background:#fff;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background:-moz-linear-gradient(top,rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,1)),color-stop(100%,rgba(229,229,229,1)));background:-webkit-linear-gradient(top,rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);background:-o-linear-gradient(top,rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);background:-ms-linear-gradient(top,rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);background:linear-gradient(to bottom,rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#e5e5e5',GradientType=0)}
.container .content table.border{border-top:1px solid #eee}
.container .content table.border tr{border-bottom:1px solid #ddd}
.page{text-align:center}
#footer{position:relative;color:#eee}
#footer h2{padding-bottom:1em;font-size:1.6em;color:#FFF}
#footer h3{padding-bottom:1em;font-size:1.2em;color:#FFF}
#footer strong{color:rgba(255,255,255,.7)}
#footer dl{width:500px;margin:0 auto}
#footer dl dt{display:none}
#footer dl dd{float:left;margin-right:10px}
#copyright{position:relative;padding:1em 0;border-top:1px solid #303030;letter-spacing:1px;text-align:center;color:rgba(255,255,255,.4)}
#copyright a{text-decoration:none;color:rgba(255,255,255,.4)!important}
#marketing{position:relative}
#marketing header h2{font-size:1.6em}
#featured{position:relative}
#featured .divider{border-bottom:1px solid #303030}
#featured .box{background:#FFF;padding:1.4em;font-size:.95em}
.balloon{padding:1.87em;background:url(images/img08.jpg) repeat left top;border-radius:5px;line-height:180%;font-size:1.2em;color:#333}
#fade{display:none;width:100%;height:100%;position:fixed;top:0;left:0;background:rgba(0,0,0,.8)}
#info{display:none;width:94%;background:#fff;height:85%;overflow-y:scroll;position:fixed;top:10%;left:3%;z-index:10}
#info table{width:95%;margin:0 auto}
#info table th,#info table td{border:0}
#closeInfo{display:block;position:fixed;top:3%;right:3%;z-index:99}
.ballon-bgbtm{height:1.87em}
.balloon strong{color:#333!important}
#dv_rolling ul li{border:0}
.paging{width:100%;text-align:center;margin-top:20px}
.paging span,.paging a{display:inline-block;width:30px;border:1px solid #ccc;border-radius:3px}
.paging span.sel{color:#E36442;font-weight:700}
.paging span img,.paging a img{vertical-align:top;padding-top:4px}
ol.process li{float:left;margin-bottom:10px}
ol.process li img{vertical-align:top}
ol.process li span{font-size:1.2em;display:inline-block;border:1px solid #ccc;border-radius:5px;padding:10px 15px;background:#f9f9f9}
#middle li{float:left;text-align:center;margin-right:50px}